html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px #0000003f;
    height: 6rem;
}

header a {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    width: 4rem;
    height: 4rem;
}

.icon-voltar {
    width: 4rem;
    height: 4rem; 
}

.invis {
    width: 4.5rem;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    word-spacing: 0.4rem;
    color: #007BFF;
}

main {
    display: flex;
    flex-grow: 1;
    padding: 0.5rem;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main img {
    /* transform: scale(0.7); */
    scale: 70%;
}

.linha {
    display: flex;
    justify-content: space-between;
}

.top.left {
    transform: rotate(90deg);
}

.top.right {
    transform: rotate(180deg);
}

.bottom.right {
    transform: rotate(-90deg);
}

.mid {
    padding: 0 0.5rem;
}

footer {
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 5px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    border: none;
    background-color: white;
    width: 4rem;
    height: 4rem;
}

footer img {
    width: 4rem;
    height: 4rem;
}
